{% extends 'base.html' %}
{% block content %}
    <!-- edit profile form -->
    <section id="register-page" class="content auth">
        <form method="post">
            <div class="container">
                <h1>Edit Profile</h1>

                {% csrf_token %}
                {% for field in form %}
                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                <label>{{ field.label }}</label>

                {% if not field.label == "Gender:" %}
                {{ field }}

                {% else %}
                <div class="list-choice">
                    <div class="list-choice-title">Gender</div>
                    <div class="list-choice-objects">

                        {% for type, vlaue in form.fields.gender.choices %}
                            <label>
                            <input type="radio" value="{{ vlaue }}" name="gender"

                                   {% if form.gender.value == vlaue %}
                                        checked
                                   {% endif %}/>
                            <span>{{ vlaue }}</span>
                            </label>
                            {% endfor %}
                    </div>
                </div>
                {% endif %}
                </div>
                <br>
            {% endfor %}


                <input class="btn" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>

{% endblock %}
