{% extends 'base.html' %}
{% block content %}
    <!-- details section -->
    <section id="car-details">
        <h1>Motorbike Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- car image -->

                <!-- type and model -->
                <h1>{{ object.bike_type }}</h1><img class="car-img" src="{{ object.image }}" alt='car image'/>
                <!-- car model -->
                <p><span class="description">Model: {{ object.model }}</span></p>
                <!-- car year -->
                <p><span class="description">Year: {{ object.year }}</span></p>

                <p><span class="description">Engine Size: {{ object.engine_size }}cc</span></p>
                <p><span class="description">Fuel Type: {{ object.fuel_type }}</span></p>
                <p><span class="description">Fuel Capacity: {{ object.fuel_capacity }}li</span></p>

                <p><span class="description">Top Speed: {{ object.top_speed }}km/h</span></p>
                <p><span class="description">Emission Standard: {{ object.emission_standard }}</span></p>
                <!-- car price -->
                <p><span class="description">Price: {{ object.price|floatformat:3 }}lv</span></p>
                {% if object.short_description %}
                <p><span class="description">Description: {{ object.short_description }}</span></p>
                {% endif %}


            </div>
            {% if owner != request.user %}
                <div class="buttons">
                    <a href="{% url 'profile-details' pk=object.user.pk %}" class="edit-button">Want to buy?</a>
                </div>
            {% endif %}
            <!-- Edit/Delete buttons -->
            {% if owner == request.user %}
                <div class="buttons">
                    <a href="{% url 'motorbike-edit' pk=object.pk %}" class="edit-button">Edit</a>
                    <a href="{% url 'motorbike-delete' pk=object.pk %}" class="delete-button">Delete</a>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}