{% extends 'base.html' %}
{% block content %}

    {% if not object_list %}
        <!-- Display paragraph: If there are no cars yet-->
        <p class="no-articles">No Yachts yet</p>
    {% else %}
        <!-- Display div "car" with information about every car (if any)-->

        <section id="catalogue">
            <h1>Total Yachts: {{ object_list.count }}</h1>
            {% for yacht in object_list %}
                <!-- first car-->
                <div class="car-card">
                    <div class="image-wrap">
                        <!-- car image -->
                        <img src="{{ yacht.image_url }}"
                             alt="Sport Car">
                    </div>
                    <!-- car type -->
                    <h3>{{ yacht.style }}</h3>
                    <!-- car model -->
                    <h1>{{ yacht.classification }}</h1>
                    <div class="details-buttons">
                        <!-- car details button -->
                        <a href="{% url 'yacht-details' pk=yacht.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}

        </section>

    {% endif %}
{% endblock %}