{% extends 'base.html' %}
{% block content %}
    <!-- details section -->
    <section id="car-details">
        <h1>Yacht Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- car image -->

                <!-- type and model -->
                <h1>{{ object.style }}</h1><img class="car-img" src="{{ object.image.url }}" alt='car image'/>
                <!-- car model -->
                <p><span class="description">{{ object.classification }}</span></p>
                <!-- car year -->

                <p><span class="description">Engines: {{ object.engines }}</span></p>
                <p><span class="description">Yacht Length: {{ object.yacht_length }}m</span></p>
                <!-- car price -->
                <p><span class="description">Price: {{ object.price|floatformat:3 }}lv</span></p>
                {% if object.very_short_description %}
                <p><span class="description">Description: {{ object.very_short_description }}</span></p>
                {% endif %}


            </div>
            {% if owner != request.user %}
            <div class="buttons">
                <a href="{% url 'profile-details' pk=object.user.pk %}" class="edit-button">Want to buy?</a>
            </div>
            {% endif %}
            <!-- Edit/Delete buttons -->
            {% if owner == request.user %}
                <div class="buttons">
                    <a href="{% url 'yacht-edit' pk=object.pk %}" class="edit-button">Edit</a>
                    <a href="{% url 'yacht-delete' pk=object.pk %}" class="delete-button">Delete</a>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}